<!DOCTYPE html>
<html lang="fa-IR">

<head>
    <title>MoameleShop</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/product.css">
    <link rel="stylesheet" href="../static/panel.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="author" content="ArshaShokri">
    <script src="../static/alert.js"></script>
</head>

<body>
    {% block main %} {% endblock %}
</body>

</html>